html
  head
    title title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(property="og:title" content="")
    meta(property="og:image" content="https://rensite.ru/imgpreview.png")
    meta(property="og:url" content="https://rensite.ru")
    meta(property="og:site_name" content="")
    meta(property="og:description" content="")
    link(rel="icon" type="imagepng" href="imgs/favicon.png")
    link(rel="stylesheet" href="css/index.css")
  head
  body
    main
      .container
    footer
      span <small>&copy; 2015-2019</small> I'm Renatto
  body
html
